extends layout

block content
  if !user
    p Ever seen a #{title}?
  if user
    h3 Play dumb
    ul
      li
        a(href="/dummy/subject") Subject
      li
        a(href="/dummy/review") Review
