extends layout

block content

  #main.pure-g-r
    .pure-u-1-3
    .pure-u-1-3.pull-center
      p#about
      form(action="/sign-in", method="post").pure-form.pure-form-aligned
        legend #{title}
        fieldset
          .pure-control-group
            label(for="email") Email
            input(type="email", name="username", placeholder="Email", autofocus="autofocus")
          .pure-control-group
            label(for="password") Password
            input(type="password", name="password", placeholder="Password")
          .pure-controls
            input(type="submit", value="Sign In")
            br
            br
            a.btn(href="/register") or Register