@import url("./pure-min.css");
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}
.pure-g-r{
  margin: 0 5px;
}
a {
  color: #ff4536;
  text-decoration: none;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
a:hover{
  color: rgba(255,69,54,0.75);
}
.transition{transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;}
input[type="button"], input[type="submit"], .btn, button{
  border: none;
  background: rgba(64,44,243,0.3);
  /*#402cf3*/
  color: #111;
  padding: 0.3em 1em;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s;-moz-transition: 0.3s;-webkit-transition: 0.3s;-o-transition: 0.3s;
}
input[type="submit"]{
  color: #111;
  background-color: rgba(35,240,47,0.3);
  /*#23f02f*/
}
input[type="submit"]:hover {
  background-color: rgba(35,240,47,0.2);
}
input[type="button"]:hover, .btn:hover, button:hover{
  color: #111;
  background-color: rgba(64,44,243,0.2);
  border: none;
}
code {background-color:#eee;padding:0.4em 0.6em;line-height: 2.5em;}
/*Nav bar*/
.pure-menu ul li a{
  color: #222;
  border-bottom: 3px solid #fff;
}
.pure-menu ul li a:hover{
  border-bottom: 3px solid rgba(255,69,54,0.75) !important;
  background: none;
}
.brand-nav{
  font-weight: 700;
  color: rgba(255,69,54,1) !important;
  font-size: 1.5em;
  padding-bottom: 3px !important;
  line-height: 1em !important;
}
.message, .error {
  line-height: 3em;
  margin: 0 0 1em 0;
  padding: 0.5em 2em;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.message {
  color: #384682;
  background-color: #c3cbf0;
}
.error {
  color: #ad8600;
  background-color: #feffab;
}
.lead {
  font-size: 1.2em;
}
@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot');
  src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('fonts/icomoon.woff') format('woff'),
    url('fonts/icomoon.ttf') format('truetype'),
    url('fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-redfeather, .icon-redfeathers {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-redfeather:before {
  content: "\e000";
}
.icon-redfeathers:before {
  content: "\e001";
}

.pulse-ring {
    border: 3px solid rgba(255,69,54,0.75);
    -webkit-border-radius: 30px;
    height: 18px;
    width: 18px;
    display: inline-block;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}
.pulse {
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 0.0
}